@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.slide-image{
  transition: translate 1s ease-in-out;
    
}



body {
font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
  overflow-y: scroll;

  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
 


}

body::-webkit-scrollbar {
  width: 0px;
  background-color: "linear-gradient(to right, #00011f, #004e92)",
}


