@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.slide-image{
  transition: translate 1s ease-in-out;
}

body {
font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
 
} */
.scrollbar::-webkit-scrollbar{
width: 5px;
}
.scrollHide::-webkit-scrollbar{
  display: none;
}
.scrollDesign::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00ABE4;
  border-radius: 1px;
}

/* Handle */
.scrollHandle::-webkit-scrollbar-thumb {
  background: #00ABE4;
  width: 1px;
  
}
body {
  overflow-y: scroll;
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
 

}

body::-webkit-scrollbar {
  width: 0px;
  background-color: "linear-gradient(to right, #00011f, #004e92)",
}


option{
  height: 20px;
  padding: 6px;
}.boxess:hover{
  box-shadow: 0px 0px 3px 3px #e6dada;
}


